@import "config";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: #000000;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI";
  line-height: 1.5;
}

//HEADINGS
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, $amount: 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// MENU BTN VALIDATION
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  //Rotate into X with menu lines
  &.close {
    transform: rotate(180deg);
    .btn-line {
      //Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      //Line 2 - hide
      &:nth-child(2) {
        opacity: 0;
      }
      //Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//Menu overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  .menu-branding,
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  .menu-nav {
    margin: 0;
    padding: 0;
    background: darken($color: $primary-color, $amount: 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      //Slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  //Branding side
  .menu-branding {
    background: $primary-color;
    @include easeOut;
    transform: translate3d(0, 100%, 0);

    &.show {
      //Slide in from bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url(../assets/portrait.jpg);
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      //Slide in from right
      // transition-delay: 0.1s;
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
