*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #34495e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.container {

  margin-top: 100px;
}


.person div {
  padding: 15px 0;
  text-align: center;
}


.person {
  border-bottom: 1px solid black;
  display: grid;
  /* grid-auto-rows: minmax(50px, auto); */
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4fr ;

  &__name,&__surname,&__class,&__dinnerQuantity,&__dinnerPrice,&__dinnerValue,
  &__teaQuantity,&__teaPrice,&__teaValue,&__totalSum{
    border-right: 1px solid black;
  }
}

