*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #34495e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.tableTitle{
  padding: 10px;
  text-align: center;
  font-size: 30px;
  &__info{
    margin: 20px 0 10px 0;
  }
  &__tablePage{
    margin-left: 200px;
  }
}



.table{
  border-top: 1px solid black;
}
.person div {
  padding: 10px 0;
  text-align: center;
}


.person {
  border-bottom: 1px solid black;

  display: grid;

  grid-template-columns: .2fr 1.5fr 1.5fr .2fr .9fr .9fr .9fr .9fr .9fr .9fr 1.5fr 6fr;

  &__lp, &__name,&__surname,&__class,&__dinnerQuantity,&__dinnerPrice,&__dinnerValue,
  &__teaQuantity,&__teaPrice,&__teaValue,&__totalSum{
    min-width: 50px;
    border-right: 1px solid black;
  }
}

