
.dateContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  &__title{
    font-size: 30px;
  }
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // margin: 100px 0;

}

.stickyNotesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 5px;

  .stickyNote{
    border: 1px solid black;
    padding: 10px;
  }
  h4 {
    font-size: 30.8px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    text-decoration: underline;
    text-transform: uppercase;
    span{
      text-transform: lowercase;
    }
  }
  h5{
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
  }
}

.person-container{
  display: grid;

  max-width: 480px;
  grid-template-columns: 270px 190px;
  margin: auto;
  font-size: 22px;
  border: 1px solid black;
  padding: 0 10px;
  .person, .classNum{

    text-align: center;

  }

  .person, .classNum, .teas, .teasValue{
    border-bottom: solid 1px black;

  }
  .dinners, .teas, .total {
    text-align: end;
  }
  .dinnersValue, .teasValue, .totalValue {
    text-align: end;

  }
  .totalValue{
    font-weight: bold;
  }
}



