*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #34495e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.container {

  margin-top: 100px;
}



.date {
  margin-bottom: 200px;

}